.container {
    width: 90%;
    margin: 0 auto;
}

.logo {
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
}

.header-page {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.main-menu {
	align-items: center;
	display: flex;
	justify-content: center;
	gap: .5rem;
}

.item {
	list-style: none;
}

.item a {
	border: 1px dotted gray;
	padding: .5rem 1rem;
}

.page_title {
	text-align: center;
}

.title_note {
    font-size: 16px;
    font-weight: 300;
	text-align: center;
}

.text-center {
	text-align: center;
}

.alert {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.4rem 0;
	text-align: center;
}

.alert-error {
    color: orange;
}

.alert-success {
	color: green;
}

.form-control {
    padding: 0.3rem 1rem;
    text-align: center;
}

.table-task-list {
	border: 1px dotted gray;
	margin: 1.5rem auto;
	max-width: 75%;
	padding: 0.4rem;
	width: 100%;
}

.table-task-list .actions {
	align-items: center;
	display: flex;
    flex-direction: row;
    gap: 0.3rem;
    justify-content: center;
}

.table-task-list .actions .item a {
	padding: 0.2rem 0.5rem;
}