body {
	background-color: aliceblue;
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 0;

	#root {
		max-width: 100%;
		width: 100%;
	}
}

.main-menu {
	align-items: center;
	display: flex;
    justify-content: space-between;
	padding: 0;

	.item-menu {
		list-style: none;
	}

	.anchor-menu {
		text-decoration: none;
	}
}

.navbar-dark .navbar-nav .nav-link.active {
	color: yellow;
}
